{% extends 'base.html.twig' %}

{% block header %}
    {% include  %}
{% endblock %}

{% block body %}

    <div class="main">
        <ul id="og-grid" class="og-grid">

        </ul>
    </div>

{% endblock %}
