{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li><a href="{{ path('modele_index') }}">Modele</a></li>
        <li><a href="{{ path('whoami_index') }}">About</a></li>
        <li><a href="{{ path('categorie_index') }}">Categorie</a></li>
    </ul>

    {% endblock %}