{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li><a href="{{ path('modele_index') }}">Modèle</a></li>
        <li><a href="{{ path('whoami_index') }}">Qui suis-je?</a></li>
        <li><a href="{{ path('categorie_index') }}">Catégorie</a></li>
    </ul>
{% endblock %}