{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modeles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for modele in modeles %}
            <tr>
                <td>{{ modele.title }}</td>
                <td>{{ modele.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('modele_edit', { 'id': modele.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modele_new') }}">Create a new modele</a>
        </li>
    </ul>
{% endblock %}
